name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      # 当一个 job 失败时，不要取消其他 job
      fail-fast: false
      # 启动 4 个并行的 job
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install
    
    - name: Install Playwright browsers
      run: npx playwright install --with-deps 

    - name: Run Playwright tests
      run: npx playwright test --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}
    
    - name: Upload allure-results
      uses: actions/upload-artifact@v4
      with:
        name: allure-results-${{ matrix.shardIndex }}
        path: allure-results

  merge-reports:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: ./allure-results
          # 会把多个 shard 的 allure-results 下载到同一目录
    
      # Extract Allure results due to multiple shards will create multiple zip files
      - name: Extract all allure-results
        run: |
          mkdir -p merged-results
          for d in ./allure-results/*; do
            echo "Extracting $d"
            unzip -q "$d" -d merged-results
          done

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
    
      - name: Install Allure CLI # Install Allure command line tool
        run: npm install -g allure-commandline

      - name: Generate Allure report
        run: |
          npx allure generate ./merged-results --clean -o ./allure-report

      - name: Upload Allure report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: ./allure-report
